html, body {
    background: black;
}
hr {
    border: 1px solid #C3C6DB;
    height: 0px;
    margin: 0;
    padding: 0;
}
header {
    width: 550px;
    height: 190px;
    background: #3A69D2;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px 5px 0 0;
}
.title {
    padding-top: 59px;
    margin-bottom: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
}
.thank-you {
    margin-top: 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.container {
    margin-top: 30px;
    max-width: 550px;
    max-height: 719px;
    background: #1F2937;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 5px solid white;
}
.container h1 {
    margin-top:0;
}
.wrapper {
    padding-left: 38px;
    padding-right: 38px;
}
.btn-row {
    width: 143.17px;
    height: 45px;
    background: #D1D4F4;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    cursor: pointer;
}
#invoice-total {
    padding: 0;
    margin: 0 0 40px 0;
}
#button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 41px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4A4E74;
}
.detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.detail > p {
    margin: 0 0 20px 0;
}
.item {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #F5F5F5;
}
.dollar-sign{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;

    text-align: right;

    color: #918E9B;
}
.total {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 25px;
    color: #F5F5F5;
}

.remove-item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    color: #D5D4D8;
    
}

.invoice-static-text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #D5D4D8;
    padding: 0;
    margin: 30px 0 20px 0;
}
.invoice-notes {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    color: #F5F5F5;
}

#sendBtn {
    width: 473px;
    height: 44px;
    background: #3A69D2;
    border-radius: 7px;
    border: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}