html, body {
    margin: 0;
    padding: 0;
    background: black;
}
hr {
    border: 1px solid #C3C6DB;
    height: 0px;
    margin: 0;
    padding: 0;
}
header {
    width: 550px;
    height: 190px;
    background: #3A69D2;

    color: #FFFFFF;
}
.title {
    padding-top: 59px;
    --margin-top: 60px;
    margin-bottom: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -0.02em;
}
.thank-you {
    margin-top: 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    text-align: center;

    color: #FFFFFF;
}
.container {
    max-width: 550px;
    min-height: 719px;
    background: #1F2937;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.wrapper {
    padding-left: 38px;
    padding-right: 38px;
}
.btn-row {
    width: 143.17px;
    height: 45px;
    background: #D1D4F4;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    cursor:pointer;
}
#invoice-total {
    padding: 0;
    margin: 0 0 40px 0;
}
#button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 41px;

    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    color: #4A4E74;
}
.detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.detail > p {
    /* color: pink; */
    margin: 0 0 20px 0;
}
.item {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    /* or 83% */

    text-align: right;

    color: #F5F5F5;
}
.dollar-sign{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;

    text-align: right;

    color: #918E9B;
}
.total {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    /* or 89% */

    text-align: right;

    color: #F5F5F5;
}

.remove-item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 20px;
    color: #D5D4D8;
    padding-left: 10px;
    cursor:pointer;
}

#invoice-detail {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    color: #F5F5F5;
    padding: 0;
    margin: 0;
}
.invoice-static-text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */

    color: #D5D4D8;
    padding: 0;
    margin: 30px 0 20px 0;
}


#sendBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px; 

    width: 473px;
    height: 44px;

    background: #3A69D2;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    border: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}